/*This is Privacy Policy Section*/


.Privacy-Policy{
    text-align: justify;
    line-height: 30px;
    border: 1px solid black;
    margin: 0 200px;
    padding: 5px 30px;
    overflow: scroll;
    height: 700px;
}



/*This is Navbar*/




/*This is Footer Section*/

